$body-background-color: #faf8f8 !default;
$items-background-color: $body-background-color !default;
$page-header-background-color: #eeeae7 !default;
$item-bg-color: #ffffff !default;
$brand-primary: #060606 !default;
$max-page-width: 1400px !default;
$site-text-color: #010101 !default;
$site-title-color: #010101 !default;
$link-color: #060606 !default;
$brand-primary: #060606 !default;
$nav-link-color: $site-text-color !default;
$nav-border-color: #d2bca3 !default;
$separator-width: 10px !default;
$side-padding: 20px !default;
$item-special-border-color: #856041 !default;
$item-special-bg-color: #ffffff !default;
$footer-height: 150px !default;
$newsItem-border-color: #d8cfcd !default;
$readmore-link-color: #ab2300 !default;
$focus-color: #ff7a00 !default;
$skipnav-background: #ffffff !default;
$skipnav-border: $brand-primary !default;
$callout-text-color: #ffffff !default;
$font-family-general: Verdana, Arial, sans-serif !default;
$font-family-headers: Verdana, Arial, sans-serif !default;
$font-family-headers-bold: Verdana, Arial, sans-serif !default;
$font-family-body: Verdana, Arial, sans-serif !default;
$showshadow: true !default;
